{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .hero-section {
        height: 90vh;
        background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                          {% if info.image %} url('{{ info.image.url }}') {% else %} url('{% static "img/default-hero.jpg" %}') {% endif %};
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid #444;
        border-radius: 0;
        color: #fff;
        padding: 15px 5px;
    }
    .form-control::placeholder {
        color: #999 !important; /* Светло-серый цвет */
        opacity: 1; /* Убираем прозрачность, которую ставит Bootstrap */
    }
    .form-control:focus {
        background: transparent;
        color: #fff;
        border-color: var(--gold);
        box-shadow: none;
    }
</style>

<!-- Hero Section -->
<section class="hero-section">

    <div class="container">
        <h1 class="display-1 mb-2 italic">{{ info.name }}</h1>
        <p class="lead mb-5 text-light uppercase tracking-widest" style="letter-spacing: 8px;">
            {{ info.description }}
        </p>
        <a href="{% url 'bookings:bookings' %}" class="btn btn-gold">Забронировать визит</a>
    </div>
</section>

<!-- Welcome -->
<section class="py-5 my-5">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="display-5 mb-4 italic">Добро пожаловать</h2>
            </div>
        </div>
    </div>
</section>

<!-- Contact Form -->
<section id="contact" class="py-5 bg-black">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 border p-5 border-secondary">
                <h2 class="text-center text-gold mb-5 uppercase tracking-widest">Обратная связь</h2>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="mb-4">
                        {{ field }}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-gold w-100 mt-4">Отправить запрос</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}