SECRET_KEY=your_secret_key
DEBUG=true_or_false

DATABASE_NAME=mydatabase
DATABASE_USER=mydatabaseuser
DATABASE_PASSWORD=mypassword
DATABASE_HOST=localhost
DATABASE_PORT=5432

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

TG_TOKEN=you_telegram_bot_token